
/*Resetear estilos del navegador*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
    scrollbar-color: #dcd7d8 transparent;
    scrollbar-width:thin;
  }

body {
    background-color: #181419;
    scroll-behavior: smooth;
    color: white;
  }
  html {
    scroll-behavior: smooth;
  }
  
h1,h2,h6 {
  color: white;
  text-align:left;
}

.tituloSection{
    font-size: 2.5rem;
    font-weight: 700;
    color: white;
   /* margin-bottom: 40px;*/
    text-align: center;
}

.header {
  background-color:#9f3647;
    color:#ffffff;
    height: 10vh;
    position:sticky;
    top: 0;
    z-index:10;
}  
/*-----------header nav------------------------*/
.nav{        
    padding: 1px;
    background-color: #9f3647;
    display: flex;
    position:fixed;
    justify-content: space-between;
    align-items: center;
    margin: 0 40 40 0;
    padding: 0 60px;
    width: 100% !important;
}
 
.icon_text {
    margin:5px 10px 5px;
    color: #ffffff;
    border-radius: 5px; 
    font-weight: 700;
    font-size: 1.1rem;  
    text-decoration: none;       
}
 
.items{
   list-style: none;
   display: flex;
   align-items: center;

  .listaItems{
    margin-right:20px;
    .linkNavBar{
        text-decoration: none;
        color:#ffffff;
        font-weight: 700;
        font-size: 1.1rem;
        padding: 0.5rem 1rem ;
          /* Agregar efecto de botón presionado */
           transition: transform 0.3s, box-shadow 0.3s;
           &:hover {
               transform: scale(0.95);
               box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
               border-radius: 5px;
           }
        }
          .linkNavBar.iniciarSesion{
              background-color: #181419;
              color: floralwhite;
              border-radius: 5px;
              
               /* Agregar efecto de botón presionado */
               transition: transform 0.3s, box-shadow 0.3s;
               &:hover {
                   background-color: #433e44
                   ;
                   transform: scale(0.95);
                   box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
               }
          }
     }
 }      
 /*---------------- Contenido principal - Registrarse ------------*/
 .main_container{
 
    height: 90vh;
    background-position: center;
    background-size: cover;
    opacity: 1.5;
    }
     
.registrarseEnMain
{
   /* padding: 80;*/
    color:floralwhite;
background:linear-gradient(to right top, #e0dada8a, #0000008a), url(../img/fondo.jpg);
background-size: cover;
background-position: center; 
  /* margin-top: 10vh; */
    height: 600px;
    display: flex;
flex-direction: column;
 justify-content: center;
    align-items: center;
    text-align: center;
}
  
.tituloEncabezado{
             color: white;
             font-size: 3rem;
             font-weight: 700;/*bold*/
             margin-bottom: 1rem;
           /* margin-bottom: 40px;*/
             text-align: center;            
             }
.subTituloEncabezado{
             color: white;
             font-size: 2rem;
             font-weight: 400;
             margin-bottom: 1rem;
             justify-content: center;  
 }
/*---------------Botón registrarte----------*/
.botonRegistroEncabezado{
    margin-top: 1rem;
    padding: 1rem 2rem;
             background-color:#9f3647;
             border: 2.5px solid #ffffff;
             color: #ffffff;
             border-radius: 5px;
             font-size: 1.2rem;
             font-weight: 700;
             text-decoration: none;
             transition: transform 0.3s, box-shadow 0.3s;
}
.botonRegistroEncabezad:hover {
    width: 87%;
    box-sizing: content-box;
                  background-color: #9f3647;
                  border: 3px solid #9f3647;
                  color: #ffffff;
                  padding: 1rem 1rem;
                  border-radius: 5px;
                  font-size: 1rem;
                  font-weight: 500;
                  transform: scale(0.95);
                  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
              }
    
/*---Peliculas Tendencia----*/        
.peliculasTendencia{
  
            width:80%;
            margin: 0 auto;
            text-align: center;
            margin-top: 10px;
            .tituloSection{
                font-size: 2.5rem;
                font-weight: 700;
                margin-bottom: 40px;
            }
            .peliculas{
                display: flex;
               
                justify-content: center;
                flex-wrap: wrap;
                gap:60px;
                a{
                    text-decoration: none;
                    color: #ffffff;
                    .pelicula{
                        width:200px;
                        height: 300px;
                        position: relative;
                        overflow: hidden;
                        border-radius: 10px;
                        transition: all 0.5s ease;
                       
                        .imgTendencia{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 10px;
                        }
                      
                        .tituloPelicula{
                            z-index: 2;
                            position: absolute;
                            text-align: center;
                            top: 50%;
                            left: 50%;
                            max-width: 20rem;
                            width: 100%;
                            transform: translateY(-50%) translateX(-50%);
                            h4 {
                                font-size: 2rem;
                                font-weight: bold;
                                opacity: 0;
                                margin-bottom: 0.5rem;
                                letter-spacing: 0.1rem;
                                transition: opacity 0.5s ease-in-out;
        
                            }
                        }
                        &:hover{
                           box-shadow: 0 0 30px #9f3648cd;
                           transform: scale(1.1);
                          
                        }
                        &:hover h4 {
                            opacity: 1;
                          
                        }
                        &:hover::before {
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            border-radius: 10px;
                            background-color: #9f3648; /* Color rojo transparente */
                            z-index: 1; /* Para asegurarse de que esté sobre la imagen */
                        }
                    }
                }
              
            }
            .boton{
                border: 2.5px solid white;
                box-sizing: content-box;
                margin-top:50px;
                margin-left:20px;
                background-color:#9f3647;
                color: #ffffff;
                padding: 1rem 1rem;
                border-radius: 5px;
                font-size: 1rem;
                font-weight: 500;
                text-decoration: none;
                margin-bottom:60px;
                 /* Agregar efecto de botón presionado */
                 transition: transform 0.3s, box-shadow 0.3s;
                 &:hover {
                     background-color: #9f3647;
                     transform: scale(0.95);
                     box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
                 }
    
            }
 }         
.buscandoPeliculas{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 1rem;
            .inputBuscador{
                border: 2px solid floralwhite;
                border-radius: 5px;
                color: #000000;
                font-size: 1.2rem;
                height: 50px;
                margin: 20px 0px;
                outline: none;
                padding: 0px 20px;
                width: 500px;                
            }
            .botonBuscador{
                background-color:#9f3647;
                display: inline-block;
                color:#ffffff;
                height: 50px;
                margin: 20px 10px;
                padding:0 20px;
                border-radius: 5px;
                font-size: 1.2rem;
                font-weight: 700;
                border: 2.5px solid white;
                text-align: center;
                 /* Agregar efecto de botón presionado */
                 transition: transform 0.3s, box-shadow 0.3s;
                 &:hover {
                     background-color: #9f3647;
                     transform: scale(0.95);
                     box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
                     
                 }
            }
        }  
        
 /*------------peliculas Aclamadas--------------------*/
 .peliculasAclamadas{
    width:80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
    margin-bottom:30px;
    overflow-x: scroll;
    overflow-y: hidden;
    .tituloSection{
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 40px;
    }
    .aclamadas{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0px 0px 40px 0px;
        .peliculaItem{
            border-radius: 25px;
            width: 170px;
            min-width: 170px;
            font-size: 20px;
            cursor: pointer;
            margin-left: 30px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
           
            .imgAclamada{
                border-radius: 5%;
                width: 95%;
                height: 95%;
                object-fit: cover;
            }   
        }    
    }
  }

  .img_aclamadas {
    display: flex; 
    justify-content: space-between; 
    width: 90%;
    height: 80%;
    margin-top: 20px; 
    margin-bottom: 4 rem auto;
    border-radius: 10px;
   
  }

/*----------------------FOOTER------------------------*/

.footer{

        position:sticky;
        padding: 5px;
        margin-top: 100px 0 0 0;
        font-family: "nunito", sans-serif;
        background-color: #9f3647; 
        box-sizing: border-box;
        width: 100% !important;
      }
      .footer .grupo1 {
        width: 90%;
        max-width: 1300px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 80px;
        padding: 5px 0px;
      }
      
      .footer .grupo1 .box figure img {
        width: 60px;
        border-radius: 10px;
        margin-left: -35px;
      }
      .footer .grupo1 .box h2 {
        color: floralwhite;
        margin-bottom: 10px;
        font-size: 20px;
        text-align: center;
      }
      
      .footer .grupo1 .box p{
        color: floralwhite;
        margin-bottom: 10px;
        text-align: center;
      }
      
      .footer.grupo1 .red-social a{
        display: inline-block;
        
        color: floralwhite;
        margin-left: 15px;
        transition: all .3s ease;
      }
/*
footer.grupo1 .red-social a{
  display: inline-block;
  text-decoration: none;
  color: white;
  margin-right: 15px;
  transition: all .3s ease;
}
/*
      .footer.grupo1 .red-social a{
  display: inline-block;
  text-decoration: none;
  color: white;
  margin-right: 15px;
  
  transition: all .3s ease;
}*/
      
      
     
      
      @media (max-width: 768px) {
        .footer .grupo1 {
            width: 70%;
            grid-template-columns: repeat(1, 1fr);
            column-gap: 20px;
            padding: 25px 0px;
        }
        
    }          

 /*-------botón ir arriba------*/
 .btn_top {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 1.8rem;
    
  }
  
  .btn_top_image:hover{
    background-color: rgb(234, 234, 241);
    border-radius: 50%;
  }
  
hr{
        border: 1px solid #9f3647;
        width: 80%;
        margin: 0 auto;
        margin-top: 40px;
}   

/***********************************************************************/
/*                        para Regist.html                             */
/***********************************************************************/
/*------- main_registr------------*/

.mainRegist{

  color:white;
  background:linear-gradient(to right top, #e0dada8a, #0000008a), url(../img/fondoRegistr.jpg);
  background-size: cover;
  background-position: center; 
    /* margin-top: 10vh; */
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

}

/*seccion de registr.html*/
.seccionRegistrarse{
          
  margin-top: 90px;
  margin-left: 60px;
  background-color:rgb(42, 42, 42);
  width: 30%;
  border-radius: 5px;
  padding: 40px 40px;

/*
 background-color:rgb(42, 42, 42); x
            width: 30%;
            margin:0 auto;
            border-radius: 5px;
            padding: 40px 20px;
            display: flex;
            flex-direction:column;
            justify-content: center;
            align-items: center;
            height: 90vh;
            font-size:1.2rem;
            .tituloRegistrarse{
                font-size: 2.5rem;
                font-weight: 700;
                margin-bottom: 20px;
            


*/
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  font-size:1.2rem;
  .tituloRegistrarse{
      font-size: 2.5rem;
      font-weight: 700;
      margin-bottom: 20px;
  }

  /*seleccionar todos los input menos el checkbox*/
  form{
      width: 100%;
      padding:40px;
      input:not(.check,.boton),select{
          width: 100%;
          margin-bottom: 20px;
          height: 40px;
          padding: 0px 20px;
          font-size: 1.2rem;
          border-radius: 20px;
          border: 2px solid #9f3647;
          background-color: #333333;
          outline: none;
          color:white;
      }
      .terminos{
          font-size: 0.8rem;
          display: flex;
          align-items: center;
          margin-bottom: 20px;
          .textoCheck{
              margin-left: 10px;
          }
      }
      .boton{
          width: 87%;
          box-sizing: content-box;
          background-color:#9f3647;
          border: 2px solid #9f3647;
          color: #ffffff;
          padding: 1rem 1rem;
          border-radius: 5px;
          font-size: 1rem;
          font-weight: 500;
         
      }
      
  }
 
}
